img{
    width: 50px;
    padding: 5%;
}
td {
    height: 50px;
    vertical-align: center;
    }
tr:hover {
    background-color:#f5f5f54b;
    }
html{
    background-color: black;
    color: blanchedalmond;
}
th{
    background-color: chocolate;
}
h1{
    text-align: center;
    font-family: cursive;
}

