@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.nav-heading {
    font-family: 'Bruno Ace SC', cursive;
}

.MuiContainer-root {
    padding: 0;
}

.app-bar {
    background-image: linear-gradient(to right, #1a232d, #1b242d, #19242e);
}

.banner {
    transition: 1000ms;
    position: absolute;
    left: 0;
    background-image: url('../Images/bgHeaderImage.png');
    background-repeat: no-repeat;
    background-position: 0 -10vw;
    background-size: cover;
}

.card-list-container {
    border-radius: 10px;
    transition: 1000ms;
    position: relative;
    top: calc(27vh + 6px);
    background-image: linear-gradient(to bottom, #2a3741, #111b23);
    height: calc(62vh - 7px);
    min-width: 90vw;
}

a {
    text-decoration: none;
    color: aliceblue;
    animation: pulse 600ms both alternate 4;
}

.card-list {
    width: calc(90vw/6 - 12px);
    height: 103%;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #111b23;
}

::-webkit-scrollbar-thumb {
    background: #2a3741;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2a3741;
}

.card-list-header,
.card-list-footer {
    width: 100%;
    border: 1px solid #2a3741;
    border-radius: 3px 3px 0 0;
    color: white;
    font-family: 'Bruno Ace SC', cursive;
}

.movie-card-film,
.movie-card {
    border: 1px solid #2a3741;
    background-size: cover;
    width: 80%;
    aspect-ratio: 3/4;
}

.movie-card-film {
    margin-top: 5px;
}

.movie-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #2a3741, #202b34);
    margin: 10px 0;
}

#Aquaman {
    background-image: url('../Images/Aquaman.jpg');
}

@media (width >=1200px) {
    .banner {
        display: none;
    }

    .card-list-container {
        position: absolute;
        top: 15vh;
        left: 1.5vw;
        min-width: 95vw;
        max-width: calc(100vw - 20px);
        height: calc(80vh - 10px);
        background-image: url('../Images/bgHeaderImage.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

@keyframes pulse {
    to {
        font-size: large;
    }
}